  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

        <section class="home" >
            <div class="coverBgImage" style="background-image: url(assets/life-preserver.jpg);">

                <div id="home-carousel" class="carousel slide slideShowHeight" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#home-carousel" data-slide-to="1"></li>
                        <li data-target="#home-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="slide slideShowHeight">

                                <div class="vert-center-padding text-info centered">
                                    <h1 >The Survival Guide</h1>
                                    <h2>for Brand New ScrumMasters</h2>
                                    <p>Are you a brand new ScrumMaster or looking to sharpen your skills? Then this book is for you!
                                    </p>
                                    <a href="http://samples.leanpub.com/scrummastersurvivalguide-sample.pdf" class="red-button">Get Free Chapters</a>
                                    <a href="https://leanpub.com/scrummastersurvivalguide" class="black-button">PURCHASE eBOOK   $9.99</a>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="slide slideShowHeight">

                                <div class="vert-center-padding text-info centered">
                                    <h1 >The Survival Guide</h1>
                                    <h2>for Brand New ScrumMasters</h2>
                                    <p>
This book is filled with examples that provide small lessons that you can easily read and apply in a short period of time.</p>
                                    <a href="http://samples.leanpub.com/scrummastersurvivalguide-sample.pdf" class="red-button">Get Free Chapters</a>
                                    <a href="https://leanpub.com/scrummastersurvivalguide" class="black-button">PURCHASE eBOOK   $9.99</a>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="slide slideShowHeight">

                                <div class="vert-center-padding text-info centered">
                                    <h1 >The Survival Guide</h1>
                                    <h2>for Brand New ScrumMasters</h2>
                                    <p>
                                        Concrete examples give you strategies for working through tough team situations.
                                    </p>
                                    <a href="http://samples.leanpub.com/scrummastersurvivalguide-sample.pdf" class="red-button">Get Free Chapters</a>
                                    <a href="https://leanpub.com/scrummastersurvivalguide" class="black-button">PURCHASE eBOOK   $9.99</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <section class="inside" >
        <div class="container section-padding">
        <div class="overview-parent">
        <h1 class="section-title">What's inside the book?</h1>
        <h2 class="section-subtitle">Do You Want To See Some Book Chapters?</h2>
        <div class="section-desc">
            <p>
            </p>
        </div>

        <div role="tabpanel">


        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#chapter1" aria-controls="chapter1" role="tab" data-toggle="tab">
                    Chapter 1
                    <i class="down-arrow fa fa-caret-down"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#chapter2"  aria-controls="chapter2" role="tab" data-toggle="tab">
                    Chapter 2
                    <i class="down-arrow fa fa-caret-down"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#chapter3"  aria-controls="chapter3" role="tab" data-toggle="tab">
                    Chapter 3
                    <i class="down-arrow fa fa-caret-down"></i>
                </a>
            </li>

        </ul>


        <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="chapter1">
            <div class="container-fluid">
                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.1    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Introduction</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.2    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Getting started</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.3    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">How to use this</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.4    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Typography</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="chapter2">
            <div class="container-fluid">
                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.1    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Introduction 2</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.2    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Getting started 2</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.3    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">How to use this 2</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.4    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Typography 2</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="chapter3">
            <div class="container-fluid">
                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.1    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Introduction 3</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.2    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Getting started 3</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.3    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">How to use this 3</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

                <div class="row chapter-row">
                    <div class="col-md-1 col-sm-1 hidden-xs short"> S.4    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 title">
                        <span class="title">Typography 3</span>
                        <span class="subtitle">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</span>
                        <span class="subtitle-full">“Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semProin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.”</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs icons">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-headphones"></i>
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="col-md-10 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 description">

                        <div class="softlightweb-audio" data-file="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3"></div>
                    </div>
                </div>

            </div>
        </div>
        </div>


        <div class="view-all">
            <a href="#" class="white-button">View All Chapters</a>
        </div>
        </div>

        </div>


        </div>
        </section>

        <section class="overview" >
            <div class="coverBgImage" style="background-image:url(assets/life-preserver.jpg)">
                <div class="wrap section-padding">
                    <div class="container ">
                        <div class="overview-parent">
                            <h1 class="section-title" id="overview">Chapter Pages</h1>
                            <h2 class="section-subtitle">Look What The Book Contains:</h2>
                            <div class="section-desc">
                                <p>
                                    Best theme for your ebook; buy and try it. Etiam diam sapien, id mi quis, tempus semper mi. Cum sociis natoque penatibus et magnis dis parturient montes.
                                </p>
                            </div>
                            <div class="row wow fadeIn">
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="#" class="page-preview">
                                        <div class="img-wrapper">
                                            <img src="assets/page.jpg" class="img-responsive" alt="page" title="page"/>
                                            <div class="img-hover"><div class="vert-center"><i class="fa fa-search"></i></div></div>
                                        </div>
                                        <p class="page-title">Page name here</p>
                                        <p class="page-subtitle">From Chapter 03</p>
                                    </a>
                                </div>
                                <div class="col-md-2  col-sm-4  col-xs-6">
                                    <a href="#" class="page-preview">
                                        <div class="img-wrapper">
                                            <img src="assets/page.jpg" class="img-responsive" alt="page" title="page"/>
                                            <div class="img-hover"><div class="vert-center"><i class="fa fa-search"></i></div></div>
                                        </div>
                                        <p class="page-title">Page name here</p>
                                        <p class="page-subtitle">From Chapter 03</p>
                                    </a>
                                </div>
                                <div class="col-md-2   col-sm-4  col-xs-6">
                                    <a href="#" class="page-preview">
                                        <div class="img-wrapper">
                                            <img src="assets/page.jpg" class="img-responsive" alt="page" title="page"/>
                                            <div class="img-hover"><div class="vert-center"><i class="fa fa-search"></i></div></div>
                                        </div>
                                        <p class="page-title">Page name here</p>
                                        <p class="page-subtitle">From Chapter 03</p>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4  col-xs-6">
                                    <a href="#" class="page-preview">
                                        <div class="img-wrapper">
                                            <img src="assets/page.jpg" class="img-responsive" alt="page" title="page"/>
                                            <div class="img-hover"><div class="vert-center"><i class="fa fa-search"></i></div></div>
                                        </div>
                                        <p class="page-title">Page name here</p>
                                        <p class="page-subtitle">From Chapter 03</p>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4  col-xs-6">
                                    <a href="#" class="page-preview">
                                        <div class="img-wrapper">
                                            <img src="assets/page.jpg" class="img-responsive" alt="page" title="page"/>
                                            <div class="img-hover"><div class="vert-center"><i class="fa fa-search"></i></div></div>
                                        </div>
                                        <p class="page-title">Page name here</p>
                                        <p class="page-subtitle">From Chapter 03</p>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4  col-xs-6">
                                    <a href="#" class="page-preview">
                                        <div class="img-wrapper">
                                            <img src="assets/page.jpg" class="img-responsive" alt="page" title="page"/>
                                            <div class="img-hover"><div class="vert-center"><i class="fa fa-search"></i></div></div>
                                        </div>
                                        <p class="page-title">Page name here</p>
                                        <p class="page-subtitle">From Chapter 03</p>
                                    </a>
                                </div>
                            </div>

                            <a href="#" class="red-button wow slideInUp">See All Pages</a>

                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section class="testimonials" >
            <div class="container ">
                <div class="section-padding">
                    <h1 class="section-title" id="testimonials">HAPPY CLIENT TESTIMONIALS</h1>
                    <h2 class="section-subtitle">What Other People Think About This Book</h2>
                    <div class="section-desc">
                        <p>
                            Best theme for your ebook; buy and try it. Etiam diam sapien, id mi quis, tempus semper mi. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="testimonial wow slideInUp">
                                <div class="quote">
                                    <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                                    <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend.</p>
                                    <i class="down-arrow fa fa-caret-down"></i>
                                </div>
                                <div class="clearfix">
                                    <div class="image-wrapper">
                                        <img src="assets/team1.jpg" class="img-responsive vert-center" alt="girl" title="girl"/>
                                    </div>
                                    <div class="text-wrapper">
                                        <h3>Helly Cooper</h3>
                                        <p>Co-Founder at ebook commerce</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="testimonial wow slideInUp">
                                <div class="quote">
                                    <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                                    <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend.</p>
                                    <i class="down-arrow fa fa-caret-down"></i>
                                </div>
                                <div class="clearfix">
                                    <div class="image-wrapper">
                                        <img src="assets/team2.jpg" class="img-responsive vert-center" alt="girl" title="girl"/>
                                    </div>
                                    <div class="text-wrapper">
                                        <h3>Raymond Reddington</h3>
                                        <p>Co-Founder at ebook commerce</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="testimonial wow slideInUp">
                                <div class="quote">
                                    <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                                    <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend.</p>
                                    <i class="down-arrow fa fa-caret-down"></i>
                                </div>
                                <div class="clearfix">
                                    <div class="image-wrapper">
                                        <img src="assets/team3.jpg" class="img-responsive vert-center" alt="girl" title="girl"/>
                                    </div>
                                    <div class="text-wrapper">
                                        <h3>Elizabeth  Keen</h3>
                                        <p>Co-Founder at ebook commerce</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="subscribe">
            <div class="coverBgImage" style="background-image: url(assets/life-preserver.jpg)">
                <div class="wrapper">
                    <div class="container">
                        <div class="section-padding">
                            <h2 class="section-subtitle">Subscribe To Our Newsletter And Get Free Chapters</h2>
                            <div class="section-desc">
                                <p>
                                    Best theme for your ebook; buy and try it. Etiam diam sapien, id mi quis, tempus semper mi. Cum sociis natoque penatibus et magnis dis parturient montes.
                                </p>
                            </div>

                            <form method="POST" role="form" action="register">
                                <div class="subscribe-form">
                                    <input type="text" name="name" class="name" placeholder="Your Name" />
                                    <input type="text" name="email" class="email" placeholder="Email Address"/>
                                    <input type="submit" value="Subscribe" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="author">
            <div class="container">
                <div class="section-padding">
                    <h1 class="section-title"  id="author">About the writer</h1>
                    <h2 class="section-subtitle">Do You Know Who I Am?</h2>
                    <div class="section-desc">
                        <p>
Dave Rooney is a veteran Agile Coach and software developer who has been at this software thing since the 80's when he discovered that he enjoyed solving real-world problems with code.
                        </p>
                    </div>
                    <div class="author-wrapper container">
                        <div class="row">

                            <div class="col-md-6 parentHeight">
                                <div class="authorImage coverBgImage parentHeight wow slideInLeft" style="background-image: url(assets/DaveRooney.jpg); ">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="author-info wow slideInRight">
                                    <h3>Dave Rooney</h3>
                                    <div class="subtitle">The Author</div>
                                    <div class="description">
    Dave has worked in or with organizations large and small, from bootstrapped startups to the Fortune 15, private and public sector. He has a deep interest in the human factors involved in the effective delivery of software that delights its customers, as well as promoting practices that make the work environment not just more humane, but fun as well. And, 30+ years after Dave solved his first real-world problem on an Apple ][, he still enjoys writing code when he can!
                                    </div>
                                    <img src="assets/signature.png" class="signature img-responsive" alt="signature" title="signature" />

                                    <a href="#" class="fb-button">
                                        <i class="fa fa-facebook"></i>
                                        Facebook
                                    </a>
                                    <a href="https://twitter.com/daverooneyca" class="tw-button">
                                        <i class="fa fa-twitter"></i>
                                        Twitter
                                    </a>
                                    <a href="https://www.linkedin.com/in/daverooneyagile" class="pi-button">
                                        <i class="fa fa-linkedin-p"></i>
                                        LinkedIn
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="coverBgImage" style="background-image: url(assets/life-preserver.jpg)">
                <div class="wrapper">
                    <div class="container ">
                        <div class="section-padding">
                            <h2 class="section-subtitle" id="contact">Don't Hesitate to Say Hello!</h2>
                            <div class="section-desc">
                                <p>
                                    Best theme for your ebook; buy and try it. Etiam diam sapien, id mi quis, tempus semper mi. Cum sociis natoque penatibus et magnis dis parturient montes.
                                </p>
                            </div>

                            <form class="contact-form wow zoomInUp" method="POST" role="form" action="contact">
                                <input type="text" name="name" class="name" placeholder="Your Name"/>
                                <input type="text" name="email" class="email" placeholder="Email Address"/>
                                <textarea placeholder="Your Message" name="message"></textarea>
                                <input type="submit" value="Send Your Message"/>
                            </form>

                            <ul class="list-inline">
                                <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                                <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                                <li> <a href="#"><i class="fa fa-linkedin-square"></i></a> </li>
                            </ul>

                            <div class="footer">
                                All rights reserved &copy; 2015 Dave Rooney
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
